
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{

    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: start;
    align-items: center; */
    height: 50vh;
    /* flex-wrap: wrap; */
}

.item{

    width: 100px;
    height: 100px;
    background: blue;
    margin: 10px;
    color: white;
    float: left;
}


/* .item:nth-of-type(3){

    align-self: start;
} */

 
/* order change using peseduo class nth child */
 .item:nth-child(2){

    order: 3;
    flex-grow: 2;
} 

 .item:nth-child(3){

   /* flex-basis: 200px; */
   flex-grow: 4;
} 


 .item:nth-child(1){

    flex-grow: 1 ;
} 