
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

    font-family: '0pen Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* color: white; */
    /* background-color: blue; */
}


.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    gap: 5px 10px;

    /* column-gap: 5px; */
    /* row-gap: 5px; */
    /* grid-auto-rows: minmax(200px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */

    /* align-items: center ; */
       /* justify-content: end; */
   
}



/* .item{

    background-color: steelblue;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
   
}


.item:nth-of-type(3){

    height: 100px;
    width: 100px;
    align-self: center ;
    justify-self: center;
    
  
}
.item:nth-of-type(2){

background-color: black;
grid-column: 1/3;
grid-row: 1/3;
    
  
} */